# Just builds the starter
name: Build and Deploy All Artifacts

on: 
  workflow_dispatch:
    
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: Set up JDK 21
      uses: actions/setup-java@v5
      with:
        distribution: 'oracle'
        java-version: '21'
        cache: 'maven'
        server-id: github # Value of the distributionManagement/repository/id field of the pom.xml
        settings-path: ${{ github.workspace }} # location for the settings.xml file

    - name: Publish all artifacts with Maven
      run: mvn -B deploy -s $GITHUB_WORKSPACE/settings.xml
      env:
       GITHUB_TOKEN: ${{ github.token }}
  